.profile {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__column_right {
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  &__avatar-wrapper {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    overflow: hidden;
    display: flex;
    position: relative;
  }

  &__avatar-wrapper:hover > &__edit-avatar {
    display: block;
  }

  &__edit-avatar {
    background: url("../images/edit-btn.svg") no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 41%;
    left: 35.2%;
    display: none;
  }

  &__name {
    font-weight: 500;
    font-size: 42px;
    color: var(--white);
    padding: 0;
    margin: 0;
    position: relative;
  }

  &__info-wrapper {
    display: flex;
    align-items: center;
    column-gap: 18px;
  }

  &__edit-info {
    background: url("../images/edit-btn.svg") no-repeat;
    width: 28px;
    height: 28px;
  }

  &__edit-info:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &__description {
    font-weight: 400;
    font-size: 18px;
    color: var(--white);
    padding: 0;
    margin: 0;
  }

  &__add-place {
    background: url("../images/add-btn.svg") no-repeat;
    width: 154px;
    height: 54px;
  }

  &__add-place:hover {
    opacity: 0.6;
    cursor: pointer;
  }
}

@media (max-width: 620px) {
  .profile {
    max-width: 282px;
    align-items: center;
    flex-direction: column;

    &__column_right {
      flex-direction: column;
    }

    &__add-place {
      background: url("../images/edit-btn-mob.svg") no-repeat;
      width: 286px;
      height: 55px;
      border: none;
    }

    &__avatar-wrapper {
      margin-bottom: 25px;
    }

    &__info {
      margin-bottom: 36px;
    }
  }
}
