.header {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 45px;
}

@media (max-width: 890px) {
  .header {
    padding: 45px 15px;
  }
}

@media (max-width: 620px) {
  .header {
    max-width: 282px;
    padding: 45px 0;
  }
}
