@import "../fonts/fonts.css";
@import "../normalize.css";
:root {
  --black: #000;
  --white: #fff;
  --grey: #545454;
}

* {
  box-sizing: border-box;
}

.header {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 45px;
}

.body {
  background-color: var(--black);
  font-family: "Inter";
}

.profile {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile__column_right {
  display: flex;
  align-items: center;
  column-gap: 30px;
}
.profile__avatar-wrapper {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  overflow: hidden;
  display: flex;
}
.profile__avatar-wrapper:hover > .profile__edit-avatar {
  display: block;
}
.profile__edit-avatar {
  background: url("/src/images/edit-btn.svg") no-repeat;
  width: 28px;
  height: 28px;
  position: absolute;
  top: 30%;
  left: 31.2%;
  display: none;
}
.profile__name {
  font-weight: 500;
  font-size: 42px;
  color: var(--white);
  padding: 0;
  margin: 0;
  position: relative;
}
.profile__info-wrapper {
  display: flex;
  align-items: center;
  column-gap: 18px;
}
.profile__edit-info {
  background: url("/src/images/edit-btn.svg") no-repeat;
  width: 28px;
  height: 28px;
}
.profile__edit-info:hover {
  opacity: 0.6;
  cursor: pointer;
}
.profile__description {
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
  padding: 0;
  margin: 0;
}
.profile__add-place {
  background: url("/src/images/add-btn.svg") no-repeat;
  width: 154px;
  height: 54px;
}
.profile__add-place:hover {
  opacity: 0.6;
  cursor: pointer;
}

.elements {
  max-width: 880px;
  margin: 0 auto;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.element {
  width: 282px;
  height: 361px;
}
.element__picture {
  height: 282px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px 10px 0px 0px;
}
.element__image {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.element__delete {
  background: url("/src/images/trash.svg") no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 15px;
  right: 15px;
  border: transparent;
}
.element__delete:hover {
  opacity: 0.6;
  cursor: pointer;
}
.element__info {
  background-color: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
  border-radius: 0px 0px 10px 10px;
}
.element__name {
  max-width: 215px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.element__like {
  display: flex;
  flex-direction: column;
}
.element__like-btn {
  background: url("/src/images/like-neutral.svg") no-repeat;
  width: 23px;
  height: 20px;
  border: transparent;
}
.element__like-btn:hover {
  opacity: 0.6;
  cursor: pointer;
}
.element__counter {
  text-align: center;
  font-weight: 500;
  display: block;
}

.form-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  width: 430px;
  height: 330px;
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  padding: 36px;
}
.form__title {
  font-weight: 900;
  font-size: 24px;
  margin: 0;
  padding-bottom: 40px;
}
.form__close {
  background: url("/src/images/close-btn.svg") no-repeat;
  width: 36px;
  height: 38px;
  border: transparent;
  position: absolute;
  right: -41px;
  top: -41px;
}
.form__input {
  font-weight: 400;
  font-size: 14px;
  color: var(--black);
  width: 100%;
  height: 27px;
  display: block;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}
.form__input:not(:last-child) {
  margin-bottom: 30px;
}
.form__submit {
  color: var(--white);
  background-color: var(--black);
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  padding: 15px 0;
  margin-top: 35px;
}
.form_state_hidden {
  display: none;
}

.avatar-form {
  height: 283px;
}
.avatar-form__input {
  margin-bottom: 13px;
}

/*# sourceMappingURL=output.css.map */
