.image-modal {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: visibility 0.7s, opacity 0.7s;
  visibility: visible;
  opacity: 1;

  &_state_hidden {
    // display: none;
    visibility: hidden;
    opacity: 0;
  }

  &__image {
    max-width: 90vw;
    max-height: 70vh;
  }

  &__content {
    position: relative;
  }

  &__close {
    background: url("../images/close-btn.svg") no-repeat;
    width: 36px;
    height: 38px;
    border: transparent;
    position: absolute;
    right: -41px;
    top: -41px;
    cursor: pointer;
  }

  &__subtitle {
    color: var(--white);
  }
}

@media (max-width: 440px) {
  .image-modal {
    &__close {
      right: -15px;
      top: -44px;
    }
  }
}
