.form {
  width: 430px;
  min-height: 330px;
  background-color: var(--white);
  border-radius: 10px;
  position: relative;
  padding: 36px;

  &__title {
    font-weight: 900;
    font-size: 24px;
    margin: 0;
    padding-bottom: 40px;
  }

  &__close {
    background: url("/src/images/close-btn.svg") no-repeat;
    width: 36px;
    height: 38px;
    border: transparent;
    position: absolute;
    right: -41px;
    top: -41px;
    cursor: pointer;
  }

  &__input {
    font-weight: 400;
    font-size: 14px;
    color: var(--black);
    width: 100%;
    height: 27px;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
  }

  &__input_state_error {
    border: 1px solid red;
  }

  &__input:not(:last-child) {
    margin-bottom: 30px;
  }

  &__input-error {
    display: none;
  }

  &__input-error_state_active {
    display: block;
    margin: -24px 0px 20px 0px;
  }

  &__submit {
    color: var(--white);
    background-color: var(--black);
    font-weight: 400;
    font-size: 18px;
    width: 100%;
    padding: 15px 0;
    margin-top: 35px;
    border: none;
  }

  &__submit_inactive {
    background-color: #0000004d;
  }

  &_state_hidden {
    display: none;
  }
}

@media (max-width: 620px) {
  .form {
    max-width: 282px;
    margin-left: -3px;
    &__close {
      right: -15px;
      top: -44px;
    }
  }
}
