:root {
  --black: #000;
  --white: #fff;
  --grey: #545454;
}

* {
  box-sizing: border-box;
}

@import "../fonts/fonts.css";
@import "../normalize.css";
@import "./blocks/header/header.scss";
@import "./blocks/body/body.scss";
@import "./blocks/profile/profile.scss";
@import "./blocks/elements/elements.scss";
@import "./blocks/element/element.scss";
@import "./blocks/edit-form/edit-form.scss";
@import "./blocks/form/form.scss";
@import "./blocks/avatar-form/avatar-form.scss";
